<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="payPalConfigurationSection" type="Atomia.Web.Plugin.PayPal.Configuration.PayPalConfigurationSection, Atomia.Web.Plugin.PayPal"/>
  </configSections>
  <payPalConfigurationSection xmlns="urn:Atomia.Web.Plugin.PayPal.Configuration" 
                              apiPassword="1336549234" 
                              apiSignature="An5ns1Kso7MWUdW4ErQKJJJ4qi4-A8RQuj4Y8TVvwrYVGKY-noks2XNx" 
                              apiUsername="prodav_1336549209_biz_api1.atomia.com"
                              host="www.sandbox.paypal.com" pendpointurl="https://api-3t.sandbox.paypal.com/nvp"/>    	
  
</configuration>