<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="payPalConfigurationSection" type="Atomia.Web.Plugin.PayPal.Configuration.PayPalConfigurationSection, Atomia.Web.Plugin.PayPal"/>
  </configSections>
  <payPalConfigurationSection xmlns="urn:Atomia.Web.Plugin.PayPal.Configuration"
                              apiPassword="1349436980"
                              apiSignature="A6VVfhJTH5sg0yx-vF2UyXwU-.fnAD3qErAt0DLkzL1Us6Yy8lbLr4aE"
                              apiUsername="ivan_1349436951_biz_api1.atomia.com"
                              host="www.sandbox.paypal.com" pendpointurl="https://api-3t.sandbox.paypal.com/nvp"
                              recurringPaymentsMaxAttempts="4"
                              recurringPaymentsDelay="00.01:00:00.00" />
</configuration>