<?xml version="1.0"?>
<!-- CONFIGURATION SECTION: <cartConfigurationSection>

   burdenRequestsSkip
  Used to configure the number of products that will trigger timeout 
  to delay the call to billing api in case another request with many products come.

  <burdenRequestsSkip timeoutSeconds="2" numberOfProducts="20"/>

  * timeoutMiliseconds="2" - Delay before calling Api method (time givven to new request to arrive and be sent in place of current request) - in miliseconds
  * numberOfProducts="20" - Delay will be initiated only when the number of products in cart exeeds this value, for lesser orders the service burdening is small
-->
<configuration>
  <configSections>
    <section name="cartConfigurationSection" type="Atomia.Web.Plugin.Cart.Configurations.CartConfigurationSection, Atomia.Web.Plugin.Cart"/>
  </configSections>
  <cartConfigurationSection xmlns="Atomia.Web.Plugin.Cart.Configurations">
    <burdenRequestsSkip timeoutMiliseconds="1000" numberOfProducts="200"/>
    <defaultCountryCodeForRecalculation value="SE"/>
  </cartConfigurationSection>
</configuration>
