<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="appConfig" type="Atomia.Web.Base.Configs.AppConfig, Atomia.Web.Base" />
  </configSections>
  <appConfig xmlns="Atomia.Web.Base.Configs">
    <pluginSettingsList>
      <pluginSettingsPlugin pluginName="PaymentForm">
        <pluginSetting name="appUrl" value="https://billing.int.atomia.com" />
      </pluginSettingsPlugin>
      <pluginSettingsPlugin pluginName="CCPayment">
        <pluginSetting name="ShowPaymentProfileOptions" value="true" />
        <pluginSetting name="ShowPaymentProfileTerms" value="true" />
        <pluginSetting name="PaymentProfileTermsURL" value="http://www.atomia.com" />
      </pluginSettingsPlugin>
    </pluginSettingsList>
    <pluginSettingsPlugin pluginName="WorldPayRedirect">
      <pluginSetting name="ShowPaymentProfileOptions" value="true" />
      <pluginSetting name="ShowPaymentProfileTerms" value="false" />
    </pluginSettingsPlugin>
    <pluginSettingsPlugin pluginName="PayPal">
      <pluginSetting name="ShowPaymentProfileOptions" value="true" />
      <pluginSetting name="ShowPaymentProfileTerms" value="false" />
    </pluginSettingsPlugin>
  </appConfig>
</configuration>