<?xml version="1.0" encoding="utf-8"?>
<!--===============Atomia Public Hosting Order Page configuration file=================-->
<!--
Here you can find instructions/explanations for setting the configurable application variables

List of the configurable variables (please note that examples of variables (ex. ****) are not valid):

4. CONFIGURATION SECTION: <appConfig>

4.1. Themes settings:
Collection of variables used for setting the theme of the Atomia Public Hosting Order Page

<themesList>
	<theme isActive="false" name="Default" />
	<theme isActive="false" name="Theme1" />
	<theme isActive="true" name="Theme2" />
</themesList>

* isActive - true if the theme should be selected, otherwise false
* name - name of the theme that will be selected if isActive="true"

4.2. Languages settings:
Collection of variables used for setting the language that will be used on the Atomia Public Hosting Order Page

<languagesList>
	<language name="en-US" displayName="English (United States)" iSOTwoLetterCode="en" />
	<language name="sv-SE" displayName="Swedish (Sweden)" iSOTwoLetterCode="sv" default="true" />
</languagesList>

* name - culture code of the specified language
* displayName - name of the specified language
* iSOTwoLetterCode - two letter iso code of the specified language

-->
<!--============================================================================-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             requirePermission="true" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="appConfig" type="Atomia.Web.Base.Configs.AppConfig" />
    <section name="multilanguageEditorConfiguration" type="Atomia.Web.Base.MultilanguageEditor.MultilanguageEditorConfiguration, Atomia.Web.Base" />
    <section name="atomiaRegularExpressionConfiguration" type="Atomia.Common.AtomiaRegularExpressionConfiguration, Atomia.Common" />
    <section name="atomiaWebBaseInterfaceConfig" type="Atomia.Web.Base.InterfaceConfigs.AtomiaWebBaseInterfaceConfig" />
  </configSections>
  <!-- ===================================== -->
  <!--                Logging                -->
  <!-- ===================================== -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Message Queuing Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           queuePath="FormatName:Direct=TCP:172.17.12.4\Private$\ActionTrailQueue" formatter="Binary Log Message Formatter" recoverable="true" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           fileName="c:\AtomiaLogs\OrderPage.log" footer="----------------------------------------" formatter="Text Formatter Rolling File"
           header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="30720" timeStampPattern="yyyy-MM-dd"
           traceOutputOptions="None" filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           name="Binary Log Message Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {key} - {value}&#xD;&#xA;)}"
           name="Text Formatter Rolling File" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Atomia Web Base Exceptions">
        <listeners>
          <add name="Message Queuing Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Atomia Web Frame Plugin Exceptions">
        <listeners>
          <add name="Message Queuing Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Atomia Order Page Exceptions">
        <listeners>
          <add name="Message Queuing Trace Listener" />
        </listeners>
      </add>
      <add switchValue="Off" name="Debug" />
      <add switchValue="Off" name="Trace" />
    </categorySources>
    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <multilanguageEditorConfiguration xmlns="Atomia.MultilanguageEditor" filename="translation001.resx" languages="sv|en-US|pl-PL" showLanguage="en-US"
                                    styleForNonTranslated="#ff0000" styleForPartlyTranslated="#cdc9c9" styleForTranslated="#00ff00" translationOn="false"
                                    resourceHandlerUrl="https://order.testenv.ovh42.atomiademo.com/resourceTranslationHandler.axd" />
  <!--==========appConfig Configuration Section=======-->
  <appConfig xmlns="Atomia.Web.Base.Configs">
    <themesList>
      <theme isActive="true" name="Default" />
	  <theme isActive="false" name="Nabu" />
      <!--Themes setup-->
    </themesList>
    <languagesList>
      <language name="en-US" displayName="English (United States)" iSOTwoLetterCode="en" />
	  <language name="nl-NL" displayName="Dutch (Netherlands)" iSOTwoLetterCode="nl" default="true" />
    </languagesList>
    <masterPageLocationsList>
      <masterPageLocation id="mplid1" area="PublicOrder" controller="PublicOrder" view="Norid" location="Areas\Empty" />
    </masterPageLocationsList>
    <globalSettingsList>
      <cookieEncryptionCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="*.testenv.ovh42.atomiademo.com" />
      <globalSetting name="javascriptMinifier" value="false" />
      <globalSetting name="cSSMinifier" value="false" />
      <globalSetting name="ActionTrailPowerSwitch" value="true" />
      <!--<globalSetting name="ElmahPowerSwitch" value="true" />-->
      <globalSetting name="ElmahPowerSwitch" value="true" />
      <globalSetting name="loadingAnimation" value="false" />
      <globalSetting name="loadingAnimationTimeout" value="3000" />
      <globalSetting name="BillingCustomerPanelURL" value="https://billing.testenv.ovh42.atomiademo.com/{accountID}/CustomerPanel/" />
      <globalSetting name="BillingCustomerPanelProfileURL" value="https://billing.testenv.ovh42.atomiademo.com/{accountID}/CustomerPanel/MySettings/" />
      <globalSetting name="BillingCustomerPanelExtraDomainsURL" value="https://billing.testenv.ovh42.atomiademo.com/{accountID}/CustomerPanel/ExtraDomains" />
      <globalSetting name="BillingAdminPanelRawURL" value="https://admin.testenv.ovh42.atomiademo.com" />
      <globalSetting name="BillingCustomerPanelRawURL" value="https://billing.testenv.ovh42.atomiademo.com" />
      <globalSetting name="HostingControlPanelRawURL" value="https://hcp.testenv.ovh42.atomiademo.com" />
      <globalSetting name="OrderApplicationPublicServiceURL" value="http://orderapi.testenv.ovh42.atomiademo.com/AtomiaBillingPublicService.asmx" />
      <globalSetting name="OrderApplicationPublicServiceTimeout" value="600000" />
      <globalSetting name="OrderApplicationRawURL" value="https://order.testenv.ovh42.atomiademo.com/" />
      <globalSetting name="DomainSearchAllowedDomainLength" value="61" />
      <globalSetting name="DomainSearchNumberOfDomainsAllowed" value="4" />
      <globalSetting name="DomainSearchTimeout" value="15" />
      <globalSetting name="HideUnavailableDomains" value="false" />
      <globalSetting name="CurrencyCodesv-SE" value="SEK" />
      <globalSetting name="CurrencyCodeen-US" value="USD" />
	  
	  <!-- if set to true allow adding subdomains -->
	  <globalSetting name="AllowAddSubdomain" value="ovh42.atomiademo.com" />
    </globalSettingsList>
    <webFramePlugins path="bin\Plugins" />
    <routing>
      <routesIgnoreList>
        <routeIgnore url="elmah.axd/{*pathInfo}" />
        <routeIgnore url="css.axd/{*pathInfo}" />
        <routeIgnore url="js.axd/{*pathInfo}" />
        <routeIgnore url="resourceTranslationHandler.axd/{*pathInfo}" />
        <routeIgnore url="favicon.ico/{*pathInfo}" />
        <routeIgnore url="robots.txt/{*pathInfo}" />
      </routesIgnoreList>
      <routeAreasList>
        <routeAreas name="PaymentForm" order="1">
          <route name="PaymentForm" url="PaymentForm/{action}" controllerNamespace="Atomia.Web.Plugin.PaymentForm.Controllers" id="9953470">
            <routeDefaultsList>
              <routeDefault name="controller" value="PaymentForm" />
              <routeDefault name="action" value="Index" />
            </routeDefaultsList>
          </route>
        </routeAreas>
        <routeAreas name="DomainSearch" order="2">
          <route name="DomainSearch" url="DomainSearch/{action}" controllerNamespace="Atomia.Web.Plugin.DomainSearch.Controllers" id="3383487">
            <routeDefaultsList>
              <routeDefault name="controller" value="DomainSearch" />
              <routeDefault name="action" value="Index" />
            </routeDefaultsList>
          </route>
        </routeAreas>
        <routeAreas name="PublicOrder" order="4">
          <route name="Index" url="" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="1558785">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Index" />
            </routeDefaultsList>
          </route>
          <route name="Domain" url="Domain/{domain}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="1194763">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Domain" />
            </routeDefaultsList>
          </route>
          <route name="Select" url="Select" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="6238620">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Select" />
            </routeDefaultsList>
          </route>
          <route name="Norid" url="Norid" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="6236620">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Norid" />
            </routeDefaultsList>
          </route>
		  <route name="GetAddressInfo" url="GetAddressInfo" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="6236621">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="GetAddressInfo" />
            </routeDefaultsList>
          </route>
          <route name="Thankyou" url="Thankyou" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="456584">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Thankyou" />
            </routeDefaultsList>
          </route>
          <route name="Tos" url="Tos" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="2827074">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Tos" />
            </routeDefaultsList>
          </route>
          <route name="Payment" url="Payment" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="4623907">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Payment" />
            </routeDefaultsList>
          </route>
          <route name="PaymentFailed" url="PaymentFailed" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="4621501">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="PaymentFailed" />
            </routeDefaultsList>
          </route>
          <route name="Error" url="Error/{action}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="9620200">
            <routeDefaultsList>
              <routeDefault name="controller" value="Error" />
              <routeDefault name="action" value="Unknown" />
            </routeDefaultsList>
          </route>
          <route name="PublicOrderDefault" url="PublicOrder/{action}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers"
                 id="2807726">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Index" />
            </routeDefaultsList>
          </route>
          <route name="PublicOrderPartialsDefault" url="PublicOrderPartials/{action}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers"
                 id="899857726">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrderPartials" />
              <routeDefault name="action" value="Cart" />
            </routeDefaultsList>
          </route>
          <route name="Reseller" url="{resellerHash}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="3396888">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder" />
              <routeDefault name="action" value="Index" />
            </routeDefaultsList>
          </route>
          <route name="Validation" url="Validation/CheckUsername" controllerNamespace="Atomia.Web.Plugin.Validation.Controllers" id="5786458">
            <routeDefaultsList>
              <routeDefault name="controller" value="Validation" />
              <routeDefault name="action" value="CheckUsername" />
            </routeDefaultsList>
          </route>
        </routeAreas>
        <routeAreas name="root" order="6">
          <route name="LanguagePicker" url="{controller}/LanguagePicker" controllerNamespace="Atomia.Web.Frame.Controllers" id="6318909">
            <routeDefaultsList>
              <routeDefault name="controller" value="Home" />
              <routeDefault name="action" value="LanguagePicker" />
            </routeDefaultsList>
          </route>
          <route name="LocalePicker" url="{controller}/LocalePicker" controllerNamespace="Atomia.Web.Frame.Controllers" id="6318754545">
            <routeDefaultsList>
              <routeDefault name="controller" value="Home" />
              <routeDefault name="action" value="LocalePicker" />
            </routeDefaultsList>
          </route>
          <route name="root" url="Home/{action}" controllerNamespace="Atomia.Web.Frame.Controllers" id="63198656545">
            <routeDefaultsList>
              <routeDefault name="controller" value="Home" />
              <routeDefault name="action" value="LocalePicker" />
            </routeDefaultsList>
          </route>
          <route name="Catch All" url="{*path}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="4599645">
            <routeDefaultsList>
              <routeDefault name="controller" value="Error" />
              <routeDefault name="action" value="NotFound" />
            </routeDefaultsList>
          </route>
        </routeAreas>
      </routeAreasList>
    </routing>
  </appConfig>
  <atomiaWebBaseInterfaceConfig xmlns="Atomia.Web.Base.InterfaceConfigs">
    <interfaceList>
      <globalEventDefaultHandler className="GlobalEventsHandler" classAssembly="Atomia.Web.Plugin.PublicOrder" classNamespace="Atomia.Web.Plugin.PublicOrder.GeneralItems" />
      <internationalizationProvider className="InternationalizationProvider" classAssembly="Atomia.Web.Plugin.PublicOrder" classNamespace="Atomia.Web.Plugin.PublicOrder.GeneralItems" />
    </interfaceList>
  </atomiaWebBaseInterfaceConfig>
  <!--================================================-->
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="~/Error/Unknown">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
           validate="false" />
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" validate="false" />
      <add verb="*" path="css.axd" type="Atomia.Web.Base.Minifiers.HttpHandlers.CSSHandler, Atomia.Web.Base" validate="false" />
      <add verb="*" path="js.axd" type="Atomia.Web.Base.Minifiers.HttpHandlers.JSHandler, Atomia.Web.Base" validate="false" />
      <add verb="*" path="resourceTranslationHandler.axd" type="Atomia.Web.Base.MultilanguageEditor.ResourceUpdateHandler, Atomia.Web.Base" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!--<add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" />-->
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="MvcDynamicSessionModule2" type="Microsoft.Samples.Mvc.DynamicSession.MvcDynamicSessionModule2, Atomia.Web.Base" />
    </httpModules>
    <identity impersonate="false" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <remove name="UrlRoutingModule" />
      <!--<add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />-->
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="MvcDynamicSessionModule2" type="Microsoft.Samples.Mvc.DynamicSession.MvcDynamicSessionModule2, Atomia.Web.Base" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="CSSMinifier" path="css.axd" verb="*" type="Atomia.Web.Base.Minifiers.HttpHandlers.CSSHandler, Atomia.Web.Base" preCondition="integratedMode" />
      <add name="JSMinifier" verb="*" path="js.axd" preCondition="integratedMode" type="Atomia.Web.Base.Minifiers.HttpHandlers.JSHandler, Atomia.Web.Base" />
      <add name="ResourceTranslationHandler" verb="*" path="resourceTranslationHandler.axd" preCondition="integratedMode" type="Atomia.Web.Base.MultilanguageEditor.ResourceUpdateHandler, Atomia.Web.Base" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="30000000" maxUrl="260" maxQueryString="10000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- ===================================== -->
  <!-- Regular expressions -->
  <atomiaRegularExpressionConfiguration configSource="App_Data\atomiaRegularExpressionConfig.config" />
  <!-- Configuration of Elmah -->
  <elmah>
    <security allowRemoteAccess="0" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="c:\AtomiaLogs\Elmah\PublicOrderPage" />
  </elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>