<?xml version="1.0"?>
<!--===============Atomia Public Hosting Order Page configuration file=================-->
<!--
Here you can find instructions/explanations for setting the configurable application variables

List of the configurable variables (please note that examples of variables (ex. ****) are not valid):

4. CONFIGURATION SECTION: <appConfig>

4.1. Themes settings:
Collection of variables used for setting the theme of the Atomia Public Hosting Order Page

<themesList>
  <theme isActive="false" name="Default" />
  <theme isActive="false" name="Theme1" />
  <theme isActive="true" name="Theme2" />
</themesList>

* isActive - true if the theme should be selected, otherwise false
* name - name of the theme that will be selected if isActive="true"

4.2. Languages settings:
Collection of variables used for setting the language that will be used on the Atomia Public Hosting Order Page

<languagesList>
  <language name="en-US" displayName="English (United States)" iSOTwoLetterCode="en" />
  <language name="sv-SE" displayName="Swedish (Sweden)" iSOTwoLetterCode="sv" default="true" />
</languagesList>

* name - culture code of the specified language
* displayName - name of the specified language
* iSOTwoLetterCode - two letter iso code of the specified language

-->
<!--============================================================================-->
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <section name="appConfig" type="Atomia.Web.Base.Configs.AppConfig"/>
    <section name="multilanguageEditorConfiguration" type="Atomia.Web.Base.MultilanguageEditor.MultilanguageEditorConfiguration, Atomia.Web.Base"/>
    <section name="atomiaRegularExpressionConfiguration" type="Atomia.Common.AtomiaRegularExpressionConfiguration, Atomia.Common"/>
    <section name="atomiaWebBaseInterfaceConfig" type="Atomia.Web.Base.InterfaceConfigs.AtomiaWebBaseInterfaceConfig"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="atomiaCommon" type="Atomia.Common.Configuration.AtomiaCommon, Atomia.Common"/>
  </configSections>
  <!-- ===================================== -->
  <!--                Caching                -->
  <!-- ===================================== -->
  <cachingConfiguration defaultCacheManager="ProductsCache">
    <cacheManagers>
      <add name="ProductsCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
    </backingStores>
  </cachingConfiguration>
  <!-- ===================================== -->
  <!--                Logging                -->
  <!-- ===================================== -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Message Queuing Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" queuePath="FormatName:Direct=TCP:172.17.12.4\Private$\ActionTrailQueue" formatter="Binary Log Message Formatter" recoverable="true"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="c:\AtomiaLogs\OrderPage.log" footer="----------------------------------------" formatter="Text Formatter Rolling File" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="30720" timeStampPattern="yyyy-MM-dd" traceOutputOptions="None" filter="All"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Binary Log Message Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {key} - {value}&#xA;)}" name="Text Formatter Rolling File"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Atomia Web Base Exceptions">
        <listeners>
          <add name="Message Queuing Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Atomia Web Frame Plugin Exceptions">
        <listeners>
          <add name="Message Queuing Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Atomia Order Page Exceptions">
        <listeners>
          <add name="Message Queuing Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Debug"/>
      <add switchValue="Off" name="Trace"/>
    </categorySources>
    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <multilanguageEditorConfiguration filename="translation001.resx" languages="sv|en-US|pl-PL" showLanguage="en-US" styleForNonTranslated="#ff0000" styleForPartlyTranslated="#cdc9c9" styleForTranslated="#00ff00" translationOn="false" resourceHandlerUrl="https://order.testenv.ovh42.atomiademo.com/resourceTranslationHandler.axd" xmlns="Atomia.MultilanguageEditor"/>
  <!--==========appConfig Configuration Section=======-->
  <appConfig xmlns="Atomia.Web.Base.Configs">
    <themesList>
      <theme isActive="true" name="Default"/>
      <theme isActive="false" name="Nabu"/>
      <!--Themes setup-->
    </themesList>
    <languagesList>
      <language name="en-US" displayName="English (United States)" iSOTwoLetterCode="en"/>
      <language name="nl-NL" displayName="Dutch (Netherlands)" iSOTwoLetterCode="nl" default="true"/>
    </languagesList>
    <masterPageLocationsList>
      <masterPageLocation id="mplid1" area="PublicOrder" controller="PublicOrder" view="Norid" location="Areas\Empty"/>
    </masterPageLocationsList>
    <globalSettingsList>
      <cookieEncryptionCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="*.testenv.ovh42.atomiademo.com"/>
      <globalSetting name="javascriptMinifier" value="false"/>
      <globalSetting name="cSSMinifier" value="false"/>
      <globalSetting name="ActionTrailPowerSwitch" value="true"/>
      <!--<globalSetting name="ElmahPowerSwitch" value="true" />-->
      <globalSetting name="ElmahPowerSwitch" value="true"/>
      <globalSetting name="loadingAnimation" value="false"/>
      <globalSetting name="loadingAnimationTimeout" value="3000"/>
      <globalSetting name="BillingCustomerPanelURL" value="https://billing.testenv.ovh42.atomiademo.com/{accountID}/CustomerPanel/"/>
      <globalSetting name="BillingCustomerPanelProfileURL" value="https://billing.testenv.ovh42.atomiademo.com/{accountID}/CustomerPanel/MySettings/"/>
      <globalSetting name="BillingCustomerPanelExtraDomainsURL" value="https://billing.testenv.ovh42.atomiademo.com/{accountID}/CustomerPanel/ExtraDomains"/>
      <globalSetting name="BillingAdminPanelRawURL" value="https://admin.testenv.ovh42.atomiademo.com"/>
      <globalSetting name="BillingCustomerPanelRawURL" value="https://billing.testenv.ovh42.atomiademo.com"/>
      <globalSetting name="HostingControlPanelRawURL" value="https://hcp.testenv.ovh42.atomiademo.com"/>
      <globalSetting name="OrderApplicationPublicServiceURL" value="http://orderapi.testenv.ovh42.atomiademo.com/AtomiaBillingPublicService.asmx"/>
      <globalSetting name="OrderApplicationPublicServiceTimeout" value="600000"/>
      <globalSetting name="OrderApplicationRawURL" value="https://order.testenv.ovh42.atomiademo.com/"/>
      <globalSetting name="DomainSearchAllowedDomainLength" value="61"/>
      <globalSetting name="DomainSearchNumberOfDomainsAllowed" value="4"/>
      <globalSetting name="DomainSearchTimeout" value="15"/>
      <globalSetting name="HideUnavailableDomains" value="false"/>
      <globalSetting name="CurrencyCodesv-SE" value="SEK"/>
      <globalSetting name="CurrencyCodeen-US" value="USD"/>
      <globalSetting name="ImmediateProvisioning" value="false"/>
      <globalSetting name="ImmediateLogin" value="false"/>
      <globalSetting name="ImmediageLoginIdentityUrl" value="https://identity.testenv.ovh42.atomiademo.com/LoginOneTimeToken"/>
      <!-- if set to true allow adding subdomains -->
      <globalSetting name="AllowAddSubdomain" value="ovh42.atomiademo.com"/>
    </globalSettingsList>
    <webFramePlugins path="bin\Plugins"/>
    <routing>
      <routesIgnoreList>
        <routeIgnore url="elmah.axd/{*pathInfo}"/>
        <routeIgnore url="css.axd/{*pathInfo}"/>
        <routeIgnore url="js.axd/{*pathInfo}"/>
        <routeIgnore url="resourceTranslationHandler.axd/{*pathInfo}"/>
        <routeIgnore url="favicon.ico/{*pathInfo}"/>
        <routeIgnore url="robots.txt/{*pathInfo}"/>
      </routesIgnoreList>
      <routeAreasList>
        <routeAreas name="PaymentForm" order="1">
          <route name="PaymentForm" url="PaymentForm/{action}" controllerNamespace="Atomia.Web.Plugin.PaymentForm.Controllers" id="9953470">
            <routeDefaultsList>
              <routeDefault name="controller" value="PaymentForm"/>
              <routeDefault name="action" value="Index"/>
            </routeDefaultsList>
          </route>
        </routeAreas>
        <routeAreas name="DomainSearch" order="2">
          <route name="DomainSearch" url="DomainSearch/{action}" controllerNamespace="Atomia.Web.Plugin.DomainSearch.Controllers" id="3383487">
            <routeDefaultsList>
              <routeDefault name="controller" value="DomainSearch"/>
              <routeDefault name="action" value="Index"/>
            </routeDefaultsList>
          </route>
        </routeAreas>
        <routeAreas name="PublicOrder" order="4">
          <route name="Index" url="" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="1558785">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Index"/>
            </routeDefaultsList>
          </route>
          <route name="Domain" url="Domain/{domain}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="1194763">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Domain"/>
            </routeDefaultsList>
          </route>
          <route name="Select" url="Select" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="6238620">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Select"/>
            </routeDefaultsList>
          </route>
          <route name="Norid" url="Norid" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="6236620">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Norid"/>
            </routeDefaultsList>
          </route>
          <route name="GetAddressInfo" url="GetAddressInfo" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="6236621">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="GetAddressInfo"/>
            </routeDefaultsList>
          </route>
          <route name="Thankyou" url="Thankyou" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="456584">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Thankyou"/>
            </routeDefaultsList>
          </route>
          <route name="Tos" url="Tos" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="2827074">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Tos"/>
            </routeDefaultsList>
          </route>
          <route name="Payment" url="Payment" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="4623907">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Payment"/>
            </routeDefaultsList>
          </route>
          <route name="PaymentFailed" url="PaymentFailed" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="4621501">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="PaymentFailed"/>
            </routeDefaultsList>
          </route>
          <route name="Error" url="Error/{action}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="9620200">
            <routeDefaultsList>
              <routeDefault name="controller" value="Error"/>
              <routeDefault name="action" value="Unknown"/>
            </routeDefaultsList>
          </route>
          <route name="PublicOrderDefault" url="PublicOrder/{action}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="2807726">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Index"/>
            </routeDefaultsList>
          </route>
          <route name="PublicOrderPartialsDefault" url="PublicOrderPartials/{action}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="899857726">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrderPartials"/>
              <routeDefault name="action" value="Cart"/>
            </routeDefaultsList>
          </route>
          <route name="Reseller" url="{resellerHash}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="3396888">
            <routeDefaultsList>
              <routeDefault name="controller" value="PublicOrder"/>
              <routeDefault name="action" value="Index"/>
            </routeDefaultsList>
          </route>
        </routeAreas>
        <routeAreas name="Validation" order="6">
          <route name="Validation" url="Validation/CheckUsername" controllerNamespace="Atomia.Web.Plugin.Validation.Controllers" id="5786458">
            <routeDefaultsList>
              <routeDefault name="controller" value="Validation"/>
              <routeDefault name="action" value="CheckUsername"/>
            </routeDefaultsList>
          </route>
          <route name="ValidationCustomFields" url="Validation/GetCustomFields" controllerNamespace="Atomia.Web.Plugin.Validation.Controllers" id="5786459">
            <routeDefaultsList>
              <routeDefault name="controller" value="Validation"/>
              <routeDefault name="action" value="GetCustomFields"/>
            </routeDefaultsList>
          </route>
        </routeAreas>
        <routeAreas name="root" order="7">
          <route name="LanguagePicker" url="{controller}/LanguagePicker" controllerNamespace="Atomia.Web.Frame.Controllers" id="6318909">
            <routeDefaultsList>
              <routeDefault name="controller" value="Home"/>
              <routeDefault name="action" value="LanguagePicker"/>
            </routeDefaultsList>
          </route>
          <route name="LocalePicker" url="{controller}/LocalePicker" controllerNamespace="Atomia.Web.Frame.Controllers" id="6318754545">
            <routeDefaultsList>
              <routeDefault name="controller" value="Home"/>
              <routeDefault name="action" value="LocalePicker"/>
            </routeDefaultsList>
          </route>
          <route name="root" url="Home/{action}" controllerNamespace="Atomia.Web.Frame.Controllers" id="63198656545">
            <routeDefaultsList>
              <routeDefault name="controller" value="Home"/>
              <routeDefault name="action" value="LocalePicker"/>
            </routeDefaultsList>
          </route>
          <route name="Catch All" url="{*path}" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="4599645">
            <routeDefaultsList>
              <routeDefault name="controller" value="Error"/>
              <routeDefault name="action" value="NotFound"/>
            </routeDefaultsList>
          </route>
        </routeAreas>
      </routeAreasList>
    </routing>
  </appConfig>
  <atomiaWebBaseInterfaceConfig xmlns="Atomia.Web.Base.InterfaceConfigs">
    <interfaceList>
      <globalEventDefaultHandler className="GlobalEventsHandler" classAssembly="Atomia.Web.Plugin.PublicOrder" classNamespace="Atomia.Web.Plugin.PublicOrder.GeneralItems"/>
      <internationalizationProvider className="InternationalizationProvider" classAssembly="Atomia.Web.Plugin.PublicOrder" classNamespace="Atomia.Web.Plugin.PublicOrder.GeneralItems"/>
    </interfaceList>
  </atomiaWebBaseInterfaceConfig>
  <!--================================================-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
      </namespaces>
    </pages>
    <customErrors mode="On" defaultRedirect="~/Error/Unknown">
      <error statusCode="404" redirect="~/Error/NotFound"/>
    </customErrors>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" validate="false"/>
      <add verb="*" path="css.axd" type="Atomia.Web.Base.Minifiers.HttpHandlers.CSSHandler, Atomia.Web.Base" validate="false"/>
      <add verb="*" path="js.axd" type="Atomia.Web.Base.Minifiers.HttpHandlers.JSHandler, Atomia.Web.Base" validate="false"/>
      <add verb="*" path="resourceTranslationHandler.axd" type="Atomia.Web.Base.MultilanguageEditor.ResourceUpdateHandler, Atomia.Web.Base"/>
    </httpHandlers>
    <httpModules>
      <!--<add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" />-->
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="MvcDynamicSessionModule2" type="Microsoft.Samples.Mvc.DynamicSession.MvcDynamicSessionModule2, Atomia.Web.Base"/>
    </httpModules>
    <identity impersonate="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />-->
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="MvcDynamicSessionModule2" type="Microsoft.Samples.Mvc.DynamicSession.MvcDynamicSessionModule2, Atomia.Web.Base"/>
    </modules>
    <handlers>
      <remove name="MvcHttpHandler"/>
      <remove name="UrlRoutingHandler"/>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="CSSMinifier" path="css.axd" verb="*" type="Atomia.Web.Base.Minifiers.HttpHandlers.CSSHandler, Atomia.Web.Base" preCondition="integratedMode"/>
      <add name="JSMinifier" verb="*" path="js.axd" preCondition="integratedMode" type="Atomia.Web.Base.Minifiers.HttpHandlers.JSHandler, Atomia.Web.Base"/>
      <add name="ResourceTranslationHandler" verb="*" path="resourceTranslationHandler.axd" preCondition="integratedMode" type="Atomia.Web.Base.MultilanguageEditor.ResourceUpdateHandler, Atomia.Web.Base"/>
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="30000000" maxUrl="260" maxQueryString="10000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!-- ===================================== -->
  <!-- Regular expressions -->
  <atomiaRegularExpressionConfiguration configSource="App_Data\atomiaRegularExpressionConfig.config"/>
  <!-- Configuration of Elmah -->
  <elmah>
    <security allowRemoteAccess="0"/>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="c:\AtomiaLogs\Elmah\PublicOrderPage"/>
  </elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IProductsProvider" type="Atomia.Web.Plugin.ProductsProvider.IProductsProvider, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="PublicApiShopProductsProvider" type="Atomia.Web.Plugin.ProductsProvider.PublicApiShopProductsProvider, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="OrderApiXmlProductsProvider" type="Atomia.Web.Plugin.HostingProducts.Helpers.OrderApiXmlProductsProvider, Atomia.Web.Plugin.HostingProducts"/>
    <alias alias="AtomiaBillingPublicService" type="Atomia.Web.Plugin.OrderServiceReferences.AtomiaBillingPublicService.AtomiaBillingPublicService, Atomia.Web.Plugin.OrderServiceReferences"/>
    <alias alias="ICachingManager" type="Atomia.Web.Plugin.ProductsProvider.ICachingManager, Atomia.Web.Plugin.ProductsProvider"/>
    <alias alias="HttpApplicationStateCacheManager" type="Atomia.Web.Plugin.HostingProducts.Helpers.HttpApplicationStateCacheManager, Atomia.Web.Plugin.HostingProducts"/>
    <alias alias="EntLibCachingManager" type="Atomia.Web.Plugin.ProductsProvider.EntLibCachingManager, Atomia.Web.Plugin.ProductsProvider"/>
    <container>
      <register type="AtomiaBillingPublicService">
        <property name="Url" value="http://orderapi.dev.atomia.com/AtomiaBillingPublicService.asmx"/>
        <property name="Timeout" value="600000"/>
      </register>
      <register type="EntLibCachingManager">
        <constructor>
          <param name="cacheManagerName" value="ProductsCache"/>
        </constructor>
      </register>
      <register type="ICachingManager" mapTo="EntLibCachingManager"/>
      <register type="IProductsProvider" mapTo="OrderApiXmlProductsProvider">
        <constructor>
          <param name="publicService"/>
          <param name="cachingManager"/>
        </constructor>
      </register>
    </container>
  </unity>
  <atomiaCommon xmlns="atomia.com">
    <executionContext fallback="true" lifetimeManager="Atomia.Common.ServiceBasedExecutionContextLifetimeManager, Atomia.Common"/>
    <phoneCodePairs>
      <phoneCodePair countryCode="AF" phoneCode="93"/>
      <phoneCodePair countryCode="AL" phoneCode="355"/>
      <phoneCodePair countryCode="DZ" phoneCode="213"/>
      <phoneCodePair countryCode="AS" phoneCode="1684"/>
      <phoneCodePair countryCode="AD" phoneCode="376"/>
      <phoneCodePair countryCode="AO" phoneCode="244"/>
      <phoneCodePair countryCode="AQ" phoneCode="1672"/>
      <phoneCodePair countryCode="AG" phoneCode="1268"/>
      <phoneCodePair countryCode="AR" phoneCode="54"/>
      <phoneCodePair countryCode="AM" phoneCode="374"/>
      <phoneCodePair countryCode="AW" phoneCode="297"/>
      <phoneCodePair countryCode="AU" phoneCode="61"/>
      <phoneCodePair countryCode="AT" phoneCode="43"/>
      <phoneCodePair countryCode="AZ" phoneCode="994"/>
      <phoneCodePair countryCode="BS" phoneCode="1242"/>
      <phoneCodePair countryCode="BH" phoneCode="973"/>
      <phoneCodePair countryCode="BD" phoneCode="880"/>
      <phoneCodePair countryCode="BB" phoneCode="1246"/>
      <phoneCodePair countryCode="BY" phoneCode="375"/>
      <phoneCodePair countryCode="BE" phoneCode="32"/>
      <phoneCodePair countryCode="BZ" phoneCode="501"/>
      <phoneCodePair countryCode="BJ" phoneCode="229"/>
      <phoneCodePair countryCode="BM" phoneCode="1441"/>
      <phoneCodePair countryCode="BT" phoneCode="975"/>
      <phoneCodePair countryCode="BO" phoneCode="591"/>
      <phoneCodePair countryCode="BA" phoneCode="387"/>
      <phoneCodePair countryCode="BW" phoneCode="267"/>
      <phoneCodePair countryCode="BR" phoneCode="55"/>
      <phoneCodePair countryCode="VG" phoneCode="1284"/>
      <phoneCodePair countryCode="BN" phoneCode="673"/>
      <phoneCodePair countryCode="BG" phoneCode="359"/>
      <phoneCodePair countryCode="BF" phoneCode="226"/>
      <phoneCodePair countryCode="MM" phoneCode="95"/>
      <phoneCodePair countryCode="BI" phoneCode="257"/>
      <phoneCodePair countryCode="KH" phoneCode="855"/>
      <phoneCodePair countryCode="CM" phoneCode="237"/>
      <phoneCodePair countryCode="CA" phoneCode="1"/>
      <phoneCodePair countryCode="KY" phoneCode="1345"/>
      <phoneCodePair countryCode="TD" phoneCode="235"/>
      <phoneCodePair countryCode="CL" phoneCode="56"/>
      <phoneCodePair countryCode="CN" phoneCode="86"/>
      <phoneCodePair countryCode="CO" phoneCode="57"/>
      <phoneCodePair countryCode="CG" phoneCode="242"/>
      <phoneCodePair countryCode="CK" phoneCode="682"/>
      <phoneCodePair countryCode="CR" phoneCode="506"/>
      <phoneCodePair countryCode="HR" phoneCode="385"/>
      <phoneCodePair countryCode="CU" phoneCode="53"/>
      <phoneCodePair countryCode="CY" phoneCode="357"/>
      <phoneCodePair countryCode="CZ" phoneCode="420"/>
      <phoneCodePair countryCode="DK" phoneCode="45"/>
      <phoneCodePair countryCode="DM" phoneCode="1767"/>
      <phoneCodePair countryCode="DO" phoneCode="1809"/>
      <phoneCodePair countryCode="EC" phoneCode="593"/>
      <phoneCodePair countryCode="EG" phoneCode="20"/>
      <phoneCodePair countryCode="SV" phoneCode="503"/>
      <phoneCodePair countryCode="GQ" phoneCode="240"/>
      <phoneCodePair countryCode="EE" phoneCode="372"/>
      <phoneCodePair countryCode="ET" phoneCode="251"/>
      <phoneCodePair countryCode="FO" phoneCode="298"/>
      <phoneCodePair countryCode="FJ" phoneCode="679"/>
      <phoneCodePair countryCode="FI" phoneCode="358"/>
      <phoneCodePair countryCode="FR" phoneCode="33"/>
      <phoneCodePair countryCode="MQ" phoneCode="596"/>
      <phoneCodePair countryCode="GF" phoneCode="594"/>
      <phoneCodePair countryCode="PF" phoneCode="689"/>
      <phoneCodePair countryCode="GA" phoneCode="241"/>
      <phoneCodePair countryCode="GM" phoneCode="220"/>
      <phoneCodePair countryCode="GE" phoneCode="995"/>
      <phoneCodePair countryCode="DE" phoneCode="49"/>
      <phoneCodePair countryCode="GH" phoneCode="233"/>
      <phoneCodePair countryCode="GI" phoneCode="350"/>
      <phoneCodePair countryCode="GR" phoneCode="30"/>
      <phoneCodePair countryCode="GL" phoneCode="299"/>
      <phoneCodePair countryCode="GD" phoneCode="1473"/>
      <phoneCodePair countryCode="GP" phoneCode="590"/>
      <phoneCodePair countryCode="GU" phoneCode="1671"/>
      <phoneCodePair countryCode="GT" phoneCode="502"/>
      <phoneCodePair countryCode="GN" phoneCode="224"/>
      <phoneCodePair countryCode="GW" phoneCode="245"/>
      <phoneCodePair countryCode="GY" phoneCode="592"/>
      <phoneCodePair countryCode="HT" phoneCode="509"/>
      <phoneCodePair countryCode="HN" phoneCode="504"/>
      <phoneCodePair countryCode="HK" phoneCode="852"/>
      <phoneCodePair countryCode="HU" phoneCode="36"/>
      <phoneCodePair countryCode="IS" phoneCode="354"/>
      <phoneCodePair countryCode="IN" phoneCode="91"/>
      <phoneCodePair countryCode="ID" phoneCode="62"/>
      <phoneCodePair countryCode="IQ" phoneCode="964"/>
      <phoneCodePair countryCode="IE" phoneCode="353"/>
      <phoneCodePair countryCode="IL" phoneCode="972"/>
      <phoneCodePair countryCode="IT" phoneCode="39"/>
      <phoneCodePair countryCode="JM" phoneCode="1876"/>
      <phoneCodePair countryCode="JP" phoneCode="81"/>
      <phoneCodePair countryCode="JO" phoneCode="962"/>
      <phoneCodePair countryCode="KZ" phoneCode="7"/>
      <phoneCodePair countryCode="KE" phoneCode="254"/>
      <phoneCodePair countryCode="KW" phoneCode="965"/>
      <phoneCodePair countryCode="KG" phoneCode="996"/>
      <phoneCodePair countryCode="LV" phoneCode="371"/>
      <phoneCodePair countryCode="LB" phoneCode="961"/>
      <phoneCodePair countryCode="LS" phoneCode="266"/>
      <phoneCodePair countryCode="LI" phoneCode="423"/>
      <phoneCodePair countryCode="LT" phoneCode="370"/>
      <phoneCodePair countryCode="LU" phoneCode="352"/>
      <phoneCodePair countryCode="MO" phoneCode="853"/>
      <phoneCodePair countryCode="MK" phoneCode="389"/>
      <phoneCodePair countryCode="MG" phoneCode="261"/>
      <phoneCodePair countryCode="MW" phoneCode="265"/>
      <phoneCodePair countryCode="MY" phoneCode="60"/>
      <phoneCodePair countryCode="MV" phoneCode="960"/>
      <phoneCodePair countryCode="ML" phoneCode="223"/>
      <phoneCodePair countryCode="MT" phoneCode="356"/>
      <phoneCodePair countryCode="MR" phoneCode="222"/>
      <phoneCodePair countryCode="MU" phoneCode="230"/>
      <phoneCodePair countryCode="MX" phoneCode="52"/>
      <phoneCodePair countryCode="MD" phoneCode="373"/>
      <phoneCodePair countryCode="MC" phoneCode="377"/>
      <phoneCodePair countryCode="MN" phoneCode="976"/>
      <phoneCodePair countryCode="MA" phoneCode="212"/>
      <phoneCodePair countryCode="MZ" phoneCode="258"/>
      <phoneCodePair countryCode="NA" phoneCode="264"/>
      <phoneCodePair countryCode="NR" phoneCode="674"/>
      <phoneCodePair countryCode="NP" phoneCode="977"/>
      <phoneCodePair countryCode="NL" phoneCode="31"/>
      <phoneCodePair countryCode="AN" phoneCode="599"/>
      <phoneCodePair countryCode="NC" phoneCode="687"/>
      <phoneCodePair countryCode="NZ" phoneCode="64"/>
      <phoneCodePair countryCode="NI" phoneCode="505"/>
      <phoneCodePair countryCode="NE" phoneCode="227"/>
      <phoneCodePair countryCode="NG" phoneCode="234"/>
      <phoneCodePair countryCode="MP" phoneCode="1670"/>
      <phoneCodePair countryCode="NO" phoneCode="47"/>
      <phoneCodePair countryCode="OM" phoneCode="968"/>
      <phoneCodePair countryCode="PK" phoneCode="92"/>
      <phoneCodePair countryCode="PW" phoneCode="680"/>
      <phoneCodePair countryCode="PS" phoneCode="970"/>
      <phoneCodePair countryCode="PA" phoneCode="507"/>
      <phoneCodePair countryCode="PG" phoneCode="675"/>
      <phoneCodePair countryCode="PY" phoneCode="595"/>
      <phoneCodePair countryCode="PE" phoneCode="51"/>
      <phoneCodePair countryCode="PH" phoneCode="63"/>
      <phoneCodePair countryCode="PL" phoneCode="48"/>
      <phoneCodePair countryCode="PT" phoneCode="351"/>
      <phoneCodePair countryCode="PR" phoneCode="1787"/>
      <phoneCodePair countryCode="QA" phoneCode="974"/>
      <phoneCodePair countryCode="RO" phoneCode="40"/>
      <phoneCodePair countryCode="RU" phoneCode="7"/>
      <phoneCodePair countryCode="RW" phoneCode="250"/>
      <phoneCodePair countryCode="SM" phoneCode="378"/>
      <phoneCodePair countryCode="SA" phoneCode="966"/>
      <phoneCodePair countryCode="SN" phoneCode="221"/>
      <phoneCodePair countryCode="RS" phoneCode="381"/>
      <phoneCodePair countryCode="SC" phoneCode="248"/>
      <phoneCodePair countryCode="SL" phoneCode="232"/>
      <phoneCodePair countryCode="SG" phoneCode="65"/>
      <phoneCodePair countryCode="SK" phoneCode="421"/>
      <phoneCodePair countryCode="SI" phoneCode="386"/>
      <phoneCodePair countryCode="SO" phoneCode="252"/>
      <phoneCodePair countryCode="ZA" phoneCode="27"/>
      <phoneCodePair countryCode="ES" phoneCode="34"/>
      <phoneCodePair countryCode="LK" phoneCode="94"/>
      <phoneCodePair countryCode="SD" phoneCode="249"/>
      <phoneCodePair countryCode="SR" phoneCode="597"/>
      <phoneCodePair countryCode="SZ" phoneCode="268"/>
      <phoneCodePair countryCode="SE" phoneCode="46"/>
      <phoneCodePair countryCode="CH" phoneCode="41"/>
      <phoneCodePair countryCode="TW" phoneCode="886"/>
      <phoneCodePair countryCode="TJ" phoneCode="992"/>
      <phoneCodePair countryCode="TH" phoneCode="66"/>
      <phoneCodePair countryCode="TG" phoneCode="228"/>
      <phoneCodePair countryCode="TT" phoneCode="1868"/>
      <phoneCodePair countryCode="TN" phoneCode="216"/>
      <phoneCodePair countryCode="TR" phoneCode="90"/>
      <phoneCodePair countryCode="TM" phoneCode="993"/>
      <phoneCodePair countryCode="TC" phoneCode="1649"/>
      <phoneCodePair countryCode="TZ" phoneCode="255"/>
      <phoneCodePair countryCode="UG" phoneCode="256"/>
      <phoneCodePair countryCode="UA" phoneCode="380"/>
      <phoneCodePair countryCode="AE" phoneCode="971"/>
      <phoneCodePair countryCode="GB" phoneCode="44"/>
      <phoneCodePair countryCode="US" phoneCode="1"/>
      <phoneCodePair countryCode="UY" phoneCode="598"/>
      <phoneCodePair countryCode="VI" phoneCode="1340"/>
      <phoneCodePair countryCode="UZ" phoneCode="998"/>
      <phoneCodePair countryCode="VU" phoneCode="678"/>
      <phoneCodePair countryCode="VE" phoneCode="58"/>
      <phoneCodePair countryCode="VN" phoneCode="84"/>
      <phoneCodePair countryCode="WF" phoneCode="681"/>
      <phoneCodePair countryCode="WS" phoneCode="685"/>
      <phoneCodePair countryCode="YE" phoneCode="967"/>
      <phoneCodePair countryCode="ZM" phoneCode="260"/>
      <phoneCodePair countryCode="ZW" phoneCode="263"/>
      <phoneCodePair countryCode="ME" phoneCode="382"/>
      <phoneCodePair countryCode="AI" phoneCode="1264"/>
      <phoneCodePair countryCode="AX" phoneCode="35818"/>
      <phoneCodePair countryCode="BL" phoneCode="590"/>
      <phoneCodePair countryCode="BQ" phoneCode="5997"/>
      <phoneCodePair countryCode="CC" phoneCode="61"/>
      <phoneCodePair countryCode="CD" phoneCode="243"/>
      <phoneCodePair countryCode="CF" phoneCode="236"/>
      <phoneCodePair countryCode="CI" phoneCode="225"/>
      <phoneCodePair countryCode="CV" phoneCode="238"/>
      <phoneCodePair countryCode="CW" phoneCode="5999"/>
      <phoneCodePair countryCode="CX" phoneCode="61"/>
      <phoneCodePair countryCode="DJ" phoneCode="253"/>
      <phoneCodePair countryCode="EH" phoneCode="5289"/>
      <phoneCodePair countryCode="ER" phoneCode="291"/>
      <phoneCodePair countryCode="FK" phoneCode="500"/>
      <phoneCodePair countryCode="FM" phoneCode="691"/>
      <phoneCodePair countryCode="GG" phoneCode="441481"/>
      <phoneCodePair countryCode="GS" phoneCode="500"/>
      <phoneCodePair countryCode="IM" phoneCode="441624"/>
      <phoneCodePair countryCode="IO" phoneCode="246"/>
      <phoneCodePair countryCode="IR" phoneCode="98"/>
      <phoneCodePair countryCode="JE" phoneCode="441534"/>
      <phoneCodePair countryCode="KI" phoneCode="686"/>
      <phoneCodePair countryCode="KM" phoneCode="269"/>
      <phoneCodePair countryCode="KN" phoneCode="1869"/>
      <phoneCodePair countryCode="KP" phoneCode="850"/>
      <phoneCodePair countryCode="KR" phoneCode="82"/>
      <phoneCodePair countryCode="LA" phoneCode="856"/>
      <phoneCodePair countryCode="LC" phoneCode="1758"/>
      <phoneCodePair countryCode="LR" phoneCode="231"/>
      <phoneCodePair countryCode="LY" phoneCode="218"/>
      <phoneCodePair countryCode="MF" phoneCode="590"/>
      <phoneCodePair countryCode="MH" phoneCode="692"/>
      <phoneCodePair countryCode="MS" phoneCode="1664"/>
      <phoneCodePair countryCode="NF" phoneCode="6723"/>
      <phoneCodePair countryCode="NU" phoneCode="683"/>
      <phoneCodePair countryCode="PM" phoneCode="508"/>
      <phoneCodePair countryCode="PN" phoneCode="64"/>
      <phoneCodePair countryCode="RE" phoneCode="262"/>
      <phoneCodePair countryCode="SB" phoneCode="677"/>
      <phoneCodePair countryCode="SH" phoneCode="2908"/>
      <phoneCodePair countryCode="SJ" phoneCode="4779"/>
      <phoneCodePair countryCode="SS" phoneCode="211"/>
      <phoneCodePair countryCode="ST" phoneCode="239"/>
      <phoneCodePair countryCode="SX" phoneCode="1721"/>
      <phoneCodePair countryCode="TK" phoneCode="690"/>
      <phoneCodePair countryCode="TO" phoneCode="676"/>
      <phoneCodePair countryCode="TV" phoneCode="688"/>
      <phoneCodePair countryCode="VA" phoneCode="3906698"/>
      <phoneCodePair countryCode="VC" phoneCode="1784"/>
      <phoneCodePair countryCode="YT" phoneCode="262"/>
      <phoneCodePair countryCode="VH" phoneCode="04725"/>
      <phoneCodePair countryCode="NN" phoneCode="0044"/>
      <phoneCodePair countryCode="EI" phoneCode="34"/>
      <phoneCodePair countryCode="EA" phoneCode="34"/>
    </phoneCodePairs>
  </atomiaCommon>
</configuration>