<?xml version="1.0" encoding="utf-8"?>
<!--
1. CONFIGURATION SECTION: <orderPageConfigurationSection>

1.1. Default country
Name and Country code of the country that will be recognized as default country by the Public Order Page, used as preselected in the Country select box, and for Customer form validations (should be SE)

<defaultCountry name="Sweden" code="SE"/>

* name - the name of the country - used just for description in this config file
* code - ISO-2 code of the country
	
1.2. Public Service API URL
URL of the Atomia PublicOrderAPI, service is used for communication with Atomia Billing API, (ex. http://212.200.163.4/AtomiaBillingPublicService/AtomiaBillingPublicService.asmx)

<publicServiceURL url="http://localhost/AtomiaBillingPublicService/AtomiaBillingPublicService.asmx"/>
	
* url - the URL of the Atomia Public Service API
	
1.3. Application Address
URL of this application, needed for ineternal use (ex. http://212.200.163.4/PublicOrderPage)

<applicatioinAddress url="http://localhost/PublicOrderPage"/>

* url - the URL of this application

1.4. Enable online payment
Used for enabling/disabling online payment in the Atomia Public Hosting Order Page (true if CC payment is required on the Atomia Hosting Public Order Page, otherwise false)

<onlinePayment enabled="false"/>
	
* enabled - true or false
	
1.5. Enable invoice via email
Used for enabling/disabling the sending of invoices via email to customer (true if there should be an option to send invoices by email on the Atomia Public Hosting Order Page, otherwise false)

<invoiceByEmail enabled="true">

* enabled - true or false	
	
1.6. Enable invoice via post
Used for enabling/disabling the sending of invoices via post to customer(true if there should be an option to send invoices by post on the Atomia Public Hosting Order Page, otherwise false)	

<invoiceByPost enabled="false">

* enabled - true or false

1.7. Allowed number of characters in domain name
Used to limit the number of characters in domain name due to IDN encoding limitations	

<allowedDomainLength Length="62">

* Length - int

1.8. Allowed number of domains per search
Used to limit the number of domains per search for optimal trafic

<numberOfDomainsAllowed Value="4">

* Value - int

1.9 List of query strings application can recognize
Used to specify which query string should be put to Session (allways for every string in the list) and sent to View (if specified) .
In both collections the key will be qs_ + name 
ex. Session["qs_exampleString1"]    ViewData["qs_exampleString1"] 

<queryStringList>
    <queryString name="exampleString1" passToView="true"/> 
    <queryString name="exampleString2" passToView="false"/>
</queryStringList>

* name - parameter name ex. .../PublicOrderPage/select?exampleString1=someValue
* passToView - true or false, should the value be passed in ViewData or not
-->
<configuration>
  <configSections>
    <section name="publicOrderConfigurationSection" type="Atomia.Web.Plugin.PublicOrder.Configurations.PublicOrderConfigurationSection, Atomia.Web.Plugin.PublicOrder"/>
    <section name="appConfig" type="Atomia.Web.Base.Configs.AppConfig, Atomia.Web.Base"/>
  </configSections>
  <!--==========Public Order Page section=============-->
  <publicOrderConfigurationSection xmlns="Atomia.Web.Plugin.PublicOrder.Configurations">
    <!--Section for Public Order Page-->
    <defaultCountry name="United States" code="US"/>
    <!--Default country for the Public Order (SE)-->
    <onlinePayment enabled="true" default="false"/>
    <!--Whether CC payment will be available on the page -->
    <invoiceByEmail enabled="true" default="true"/>
    <!--Whether sending invoice via email will be available on the page-->
    <invoiceByPost enabled="true" default="false"/>
    <!--Whether sending invoice via post will be available on the page -->
    <payPal enabled="false" default="false"/>
    <!--Whether Paypal payment will be available on the page -->
    <payexRedirect enabled="false" default="false"/>
    <!--Whether PayexRedirect payment will be available on the page -->
    <worldPay enabled="false" default="false"/>
    <!--Whether WorldPayRedirect payment will be available on the page -->
    <dibsFlexwin enabled="false" default="false"/>
    <!--Whether Dibs payment will be available on the page -->
    <worldPayXml enabled="false" default="false"/>
    <!--Whether WorldPayXmlRedirect payment will be available on the page -->
    <adyenHpp enabled="false" default="false"/>
    <!--Whether AdyenHpp payment will be available on the page -->
    <queryStringList>
      <queryString name="CampaignCode" passToView="true"/>
    </queryStringList>
    <countriesList>
      <countryItem code="sv-SE" name="Sweden" image="flg_sv.png" currency="SEK" default="false"/>
      <countryItem code="en-US" name="United States" image="flg_us.png" currency="USD" default="true"/>
    </countriesList>
  </publicOrderConfigurationSection>
  <!--================================================-->
  <appConfig xmlns="Atomia.Web.Base.Configs">
    <partialsList>
      <controllerViewData controller="PublicOrder" view="Select" area="PublicOrder" id="5292">
        <containers name="partials" id="5292">
          <partials action="DomainSearch" controller="PublicOrderPartials" controllerAssembly="Atomia.Web.Plugin.PublicOrder" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="5292"/>
        </containers>
      </controllerViewData>
      <controllerViewData controller="PublicOrder" view="Select" area="PublicOrder" id="2267686">
        <containers name="partials" id="2267686">
          <partials action="Cart" controller="PublicOrderPartials" controllerAssembly="Atomia.Web.Plugin.PublicOrder" controllerNamespace="Atomia.Web.Plugin.PublicOrder.Controllers" id="2267686"/>
        </containers>
      </controllerViewData>
    </partialsList>
    <breadCrumbList>
      <breadCrumbControllerViewData action="Index" controller="PublicOrder" area="PublicOrder" id="5292">
        <breadCrumbItem action="Index" controller="PublicOrder" area="PublicOrder" resourceKey="order" id="5292"/>
      </breadCrumbControllerViewData>
      <breadCrumbControllerViewData action="select" controller="PublicOrder" area="PublicOrder" id="2267686">
        <breadCrumbItem action="Index" controller="PublicOrder" area="PublicOrder" resourceKey="order" id="2267686"/>
        <breadCrumbItem action="select" controller="PublicOrder" area="PublicOrder" resourceKey="select" id="6302863"/>
      </breadCrumbControllerViewData>
      <breadCrumbControllerViewData action="thankyou" controller="PublicOrder" area="PublicOrder" id="6302863">
        <breadCrumbItem action="Index" controller="PublicOrder" area="PublicOrder" resourceKey="order" id="8282476"/>
        <breadCrumbItem action="thankyou" controller="Order" area="PublicOrder" resourceKey="thankyou" id="2186330"/>
      </breadCrumbControllerViewData>
    </breadCrumbList>
    <javascriptFilesList>
      <javscriptFile name="jquery.timers.js" path="PublicOrder/PublicOrder" area="PublicOrder" controller="PublicOrder" action="Select" id="8369090"/>      
      <javscriptFile name="vtip.js" path="PublicOrder/PublicOrder" id="1151062"/>
      <javscriptFile name="zNotification.js" path="PublicOrder/PublicOrder" id="298916"/>
      <javscriptFile name="jquery.numberformatter.js" path="PublicOrder/PublicOrder" id="9909191"/>
      <javscriptFile name="AtomiaBillingCart.js" path="PublicOrder/PublicOrder" area="PublicOrder" controller="PublicOrder" action="Select" id="3323365"/>
      <javscriptFile name="atomia.ids.generator.js" path="PublicOrder/PublicOrder" area="PublicOrder" controller="PublicOrder" action="Select" id="7252477"/>
      <javscriptFile name="jsvat.js" path="PublicOrder/PublicOrder" area="PublicOrder" controller="PublicOrder" action="Select" id="979174"/>
      <javscriptFile name="Index.js" path="PublicOrder/PublicOrder" area="PublicOrder" controller="PublicOrder" action="Index" id="7234010"/>
      <javscriptFile name="IndexOverrides.js" path="PublicOrder/PublicOrder" area="PublicOrder" controller="PublicOrder" action="Index" id="2029793"/>
      <javscriptFile name="Select.js" path="PublicOrder/PublicOrder" area="PublicOrder" controller="PublicOrder" action="Select" id="8502194"/>
      <javscriptFile name="SelectOverrides.js" path="PublicOrder/PublicOrder" area="PublicOrder" controller="PublicOrder" action="Select" id="77736"/>
    </javascriptFilesList>
    <pluginSettingsList>
      <pluginSettingsPlugin pluginName="PublicOrder">
        <pluginSetting name="ShowPersonalNumber" value="true"/>  
      </pluginSettingsPlugin>
    </pluginSettingsList>
  </appConfig>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
